<a href="https://colab.research.google.com/github/cristian007369/Series_for/blob/main/Series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series usando for

In [ ]:
# Serie 1: 1,2,3....,10

print("-----------------------")
print("--------Serie 1--------")
print("-----------------------")

s = "Serie: {"
for i in range(1,11):
  if i<10:
    s += str(i)+", "
  else:
    s += str(i)+"}"
print(s)

In [ ]:
# Serie 2: 1,4,9,16,25,36...

print("-----------------------")
print("--------Serie 2--------")
print("-----------------------")

for i in range(1,11):
  if i<10:
    s += str(i**2)+", "
  else:
    s += str(i**2)+"}"
print(s)

In [ ]:
# Serie 3: 2,4,8,16...

print("-----------------------")
print("--------Serie 3--------")
print("-----------------------")

s = "Serie: {"
for i in range(1,11):
  if i<10:
    s += str(2**i) + ", "
  else:
    s += str(2**i) +"}"
print(s)

In [23]:
# Serie 4: 2,6,12,20,30,42,56...

print("-----------------------")
print("--------Serie 3--------")
print("-----------------------")

s = "Serie: {"
f=1
for i in range(1,11):
  if i<10:
    s += str(i**2+i) + ", "
    f+=1
  else:
    s += str(i**2+i) +"}"
print(s)

-----------------------
--------Serie 3--------
-----------------------
Serie: {2, 6, 12, 20, 30, 42, 56, 72, 90, 110}